$background-color: #ebe3cd;
$btnbackground-color: #df581e;
$background-color1: #6bb99c;
$font-family: 'Playfair Display', serif;
$background-colorcard: #faf8ef;
$background-colorform: #ccc1a3;



$background-color2: #12202f